.emoji-game-app-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  min-height: 100vh;
  background-size: cover;
}
.responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.emojis-list {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
