.win-or-lose-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  width: 85%;
  margin: auto;
  padding: 16px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .win-or-lose-card {
    width: 80%;
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .win-or-lose-card {
    flex-direction: row;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .win-or-lose-card {
    width: 60%;
  }
}
.result-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
@media screen and (min-width: 992px) {
  .result-details-container {
    order: 0;
  }
}
.result-status {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .result-status {
    font-size: 64px;
  }
}

.score-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
@media screen and (min-width: 992px) {
  .score-text {
    font-size: 36px;
  }
}
.score-value {
  font-family: 'Roboto';
  color: #6a59ff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .score-value {
    font-size: 48px;
  }
}
.play-again-button {
  background-color: #ffce27;
  color: #3d3d3d;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  cursor: pointer;
  outline: none;
}
.image-section {
  order: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .image-section {
    order: 1;
  }
}
.result-img {
  width: 150px;
  height: 200px;
}
@media screen and (min-width: 992px) {
  .result-img {
    width: 350px;
    height: 450px;
  }
}
